.header{
	text-align: center;
}

.thumbnail{
	height: 100px;
}

.clue-img{
	max-height: 150px;
	width: 100%;
}

.col{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
}