<!DOCTYPE html>
<html>
<head>
	<title>GOOESCAPE</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='template.css') }}">

</head>
<body>

	<div class="container">
		<div class="header">
			<img src="{{ url_for('static', filename='images/thumbnail.jpg') }}" class="thumbnail img-fluid img-responsive">
		</div>

		<ul class="nav nav-tabs nav-justified">
			<li class="nav-item">
				<a class="nav-link active" id="room-tab" data-toggle="tab" href="#room" role="tab" aria-controls="home" aria-selected="true">Room</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="clue-tab" data-toggle="tab" href="#clue" role="tab">Clues</a>
			</li>
		</ul>
		<div class="tab-content" id="tabContent">
			<div class="tab-pane fade show active text-center" id="room" role="tabpanel">
				<img src="{{ url_for('static', filename=data['filename']) }}" class="img-fluid img-responsive">
			</div>
			<div class="tab-pane fade" id="clue" role="tabpanel">
				<div class="row text-center">

					{% for clue in data["clues"] %}
					<div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<img src="{{ url_for('static', filename=clue['filename']) }}" class="img-responsive clue-img">
					</div>
					{% endfor %}

					{% if data['clue_odd'] %}
					<div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<img src="{{ url_for('static', filename='images/none.jpg') }}" class="img-responsive clue-img">
					</div>
					{% endif %}

				</div>
			</div>
		</div>
	</div>

</body>
</html>